@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container pb-5 mb-5">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    <div class="alert alert-info">
        This is your privacy policy content.
    </div>

    <button class="btn btn-primary">I Agree</button>

    <br /><br /><br />
</div>